html, body, #root{
    height: 100%;
    width: 100%;
    margin:0;
    background: rgb(0, 0, 0);
}

html{
    overflow-y: hidden;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}

body{
    font-family: serif;
}
/* html::-webkit-scrollbar { /* WebKit 
    width: 0;
    height: 0;
} */

#covers{
    -ms-overflow-style: none;  
    float: left;
    display: block;
    height: calc(100% - 120px);
    width: calc(15% - 10px);
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 13px;
    background: black;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    position: sticky;
    top:6px;
    /* bottom:6px; */
    border: 2px solid rgb(63, 0, 0);
    padding:25px;
}

#covers::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.cover:nth-child(1){
    margin-top:0;
    /* border-top: none; */
}

.cover:nth-child(n-1){
    margin-bottom: 25px;
}

.cover{
    margin-top: 20px;
    border:1px solid rgb(53, 0, 0);
    /* border-radius: 10px; */
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.arrow{
    width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-left: 28px solid white;
    border-bottom: 14px solid transparent;
    position: absolute;
    left: 28%;
    top: 32%;
}

#controls{
    position: absolute;
    width: 75vw;
    left:25vw;
    top: 3px;
}

.buttons{
    position: absolute;
}

#play{
    top:5px;
    left: 120px;
}

#next{
    left:220px;
}

#time{
    position: absolute;
    left: 30vw;
    top: -15px;
    font-size: 40px;
    font-weight: bold;
}

table{
    margin-left: -2px;
    width:calc(100% + 0px); 
    /* overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none; */
    /* padding: 10px; */
    /* height: 100%; */
    /* height: 100%;
    margin:0 auto; */
}

/* table::-webkit-scrollbar { /* WebKit 
    width: 0;
    height: 0;
} */

tr{
    width: 100%;
    /* margin-top:1%; */
    color: white;
    text-align: center;
    /* padding: 10px; */
    
}

td{
    padding: 25px 0px;
    box-sizing: border-box;
    font-size:21px;
    border: 2px solid rgb(63, 0, 0);
}

#justBlack{
    width: calc(100% - 4px);
    background: black;
    height: 126px;
    margin:0;
    position: sticky;
    top:0;
    margin-bottom: -4px;
    border-bottom: 2px solid rgb(63, 0, 0);
}

#title{
    width: calc(100% - 4px);
    font-size: 50px;
    padding:25px 0;
    color:white;
    background: rgb(129, 0, 0);
    text-align: center;
    margin:0;
    margin-bottom: 2px;
    letter-spacing: 5px;
    position: sticky;
    top:6px;
    border: 2px solid rgb(63, 0, 0);
    /* border-left:  */
}

#playlist{
    position: absolute;
    top:18px;
    left:30px;
}

tr:nth-child(odd){
    background: rgb(101, 0, 0);
}

tr:nth-child(even){
    background: rgb(141, 0, 0);
}

tr:hover > td{
    background: rgb(71, 0, 0);
    /* border: none;    */
}

#content{
    width:85%;
    height: calc(100% - 120px);
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* position: sticky; */
}

#content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    color: white;
    width: 100%;
    box-sizing: border-box;
    border-top: 5px solid rgb(85, 0, 0);
    height: 120px;
    margin-bottom: 0px;
    background: rgb(129, 0, 0);
    clear: both;
}
