html, body, #root{
    height: 100%;
    width: 100%;
    margin:0;
    background: rgb(0, 0, 0);
}

#covers{
    -ms-overflow-style: none;  
    float: left;
    display: block;
    height: calc(100% - 120px);
    width: calc(15% - 5px);
    margin-right: 5px;
    background: black;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none
}

#covers::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.cover:nth-child(1){
    margin-top:0;
}

.cover{
    margin-top: 20px;
    border:3px solid rgb(63, 0, 0);
    /* border-radius: 10px; */
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.arrow{
    width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-left: 28px solid white;
    border-bottom: 14px solid transparent;
    position: absolute;
    left: 28%;
    top: 32%;
}

#controls{
    position: absolute;
    left:18vw;
    top: 10px;
}

.buttons{
    position: absolute;
}

#play{
    top:5px;
    left: 125px;
}

#next{
    left:240px;
}

#time{
    position: absolute;
    left: 400px;
}

table{
    margin-left: -2px;
    width:calc(100% + 4px); 
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* padding: 10px; */
    /* height: 100%; */
    /* height: 100%;
    margin:0 auto; */
}

table::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

tr{
    width: 100%;
    /* margin-top:1%; */
    color: white;
    text-align: center;
    /* padding: 10px; */
    
}

td{
    padding: 25px 0px;
    box-sizing: border-box;
    font-size:21px;
    border: 2px solid rgb(63, 0, 0);
}
#title{
    width: 100%;
    font-size: 50px;
    padding:25px 0;
    color:white;
    background: rgb(129, 0, 0);
    text-align: center;
    margin:0;
    letter-spacing: 5px;
    position: sticky;
    border: 2px solid rgb(63, 0, 0);
    /* border-left:  */
}
tr:nth-child(odd){
    background: rgb(101, 0, 0);
}

tr:nth-child(even){
    background: rgb(141, 0, 0);
}

tr:hover > td{
    background: rgb(71, 0, 0);
    /* border: none;    */
}

#content{
    width:85%;
    height: calc(100% - 120px);
    float: left;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    -ms-overflow-style: none;
}

#content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#footer{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-top: 5px solid rgb(85, 0, 0);
    height: 120px;
    margin-bottom: 0px;
    background: rgb(129, 0, 0);
    clear: both;
}
